<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <script src="https://unpkg.com/vue">

    </script>

    <div id="app">
        <p>{{name}}</p>
        <p v-if="name=='Max'? false:true">Name Updated!</p>
        <button v-on:click="changeName">Change name</button>
        <button v-on:click="addElement">New Element</button>
        <ul>
            <li v-for="element in elements"
            v_bind:id="'el'+element"
            v_bind:style="{backgroundColor: }"
            >A Element {{element}} </li>
        </ul>
    </div>

    <script>
        new Vue({
            el: "#app",
            data: {
                name: 'Max',
                elements: []
            },
            methods: {
                changeName: function() {
                    this.name = "Anna";
                },
                addElement: function() {
                    this.elements.push(this.elements.length + 1);
                },
                getColor: function(number) {
                    return number % 2 == 0 ? 'green' : 'red';
                } 
            }
        })
    </script>

</body>

</html>